/* Estilos generales */
body {
    font-family: 'Tahoma', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #006341;
    /* Verde bandera de México */
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 5px;
}

/* Subtítulos para formularios */
h2 {
    color: #007f4f;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Formularios */
form {
    background-color: #ffffff;
    border: 2px solid #006341;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #007f4f;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #006341;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled{
    background-color: rgba(119, 119, 119, 0.814);
    cursor: auto;
}

button:hover:not([disabled=""]){
    background-color: #007f4f;
}

p {
    margin-top: 10px;
    font-size: 16px;
}

/* Respuesta y token */
#tokenDisplay,
#userCreateResponse,
#tokenForgotDisplay,
#complaintsResponse {
    background-color: #e8f5e9;
    border: 1px solid #4caf50;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    color: #2e7d32;
    display: none;
}

.input-group {
    margin-bottom: 15px;
}

/* Estilos del menú de navegación */
.nav-link {
    color: #007f4f !important;
    border-radius: 5px 5px 0px 0px !important;
}

.nav-link:hover {
    color: white !important;
    background-color: #007f4f;
}

.nav-link.active {
    color: white !important;
    font-size: 17px;
    background-color: #007f4f !important;
    border-bottom: 3px solid #2e7d32 !important;
    border-radius: 5px 5px 0px 0px !important;
}

/* Secciones */
.section {
    padding: 30px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
}