<head>
    <link rel="stylesheet" href="static/css/tables2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
</head>

<section id="causas" class="section">
    <div class="ps-4">
        <h2>Catálogo de Causas</h2>
        <div class="my-3 d-flex w-75 align-items-center">
            <label for="clvProd" class="m-2 fs-6">Producto:</label>
            <div class="d-flex w-50 align-items-center">
                <input class="form-control" id="clvProd" placeholder="Ingrese un ID de un producto" style="border-radius: 1px 0px 0px 1px;color:#5E5D5D"></input>
                <button type="button" id="btnBuscar" style="border-radius: 0px 5px 5px 0px;padding: 1.4%;">Buscar</button>
            </div>
        </div>
    </div>
    <div class="container-table100" style="display: none;">
        <div class="wrap-table100">
            <table id="catalogoCausas" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID Causa</th>
                        <th>Causa Descripción</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
