<head>
    <link rel="stylesheet" href="static/css/tables2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
</head>

<section id="codigosPostales" class="section">
    <div class="ps-4">
        <h2>Catálogo de Códigos Postales</h2>
        <div class="my-4 d-flex w-50">
            <label for="clvEdo" class="m-2 fs-6">Entidad Federativa:</label>
            <div class="d-flex w-50 align-items-center">
                <select class="form-select" id="clvEdo" style="border-radius: 1px 0px 0px 1px;color:#5E5D5D">
                    <option value=""></option>
                </select>
                <button type="button" id="btnBuscar" style="border-radius: 0px 5px 5px 0px;padding: 2%;">Buscar</button>
            </div>
        </div>
    </div>
    <div class="container-table100">
        <div class="wrap-table100">
            <table id="catalogoCP" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID Estado</th>
                        <th>Estado</th>
                        <th>Código SEPOMEX</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>