<head>
    <link rel="stylesheet" href="static/css/tables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
</head>

<section id="colonias" class="section">
    <h2>Catálogo de Colonias</h2>
    <div class="my-4 d-flex w-50">
        <label for="clvEdo" class="m-2 fs-5">Buscar:</label>
        <input class="form-control" id="clvCP" placeholder="Ingrese un código postal"
            style="border-radius: 1px 0px 0px 1px;color:#5E5D5D">
        <button type="button" id="btnBuscar" style="border-radius: 0px 5px 5px 0px;">Buscar</button>
    </div>
    <div id="tableCol" class="container-table100" style="display: none;">
        <div class="wrap-table100">
            <div class="table100 ver3 m-b-110">
                <table>
                    <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">ID Estado</th>
                            <th class="cell100">Estado</th>
                            <th class="cell100">ID Municipio</th>
                            <th class="cell100">Municipio</th>
                            <th class="cell100">ID Colonia</th>
                            <th class="cell100">Colonia</th>
                            <th class="cell100">ID Tipo de Localidad</th>
                            <th class="cell100">Tipo de Localidad</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>