<head>
    <link rel="stylesheet" href="static/css/tables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
</head>

<section id="estados" class="section">
    <h2>Catálogo de Estados</h2>
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver3 m-b-110">
                <table>
                    <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Clave Estado</th>
                            <th class="cell100 column2">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>