<head>
    <link rel="stylesheet" href="static/css/tables2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
</head>
<section id="municipios" class="section">
    <div class="ps-4">
        <h2>Catálogo de Municipios</h2>
        <div class="my-3 d-flex w-100 align-items-center">
            <div class="d-flex align-items-center pr-5" style="width: 45%;">
                <label for="clvEdo" class="m-2 fs-6" style="width: 35%;">Entidad Federativa:</label>
                <select class="form-select" id="clvEdo" style="border-radius: 1px 0px 0px 1px;color:#5E5D5D">
                    <option value=""></option>
                </select>
            </div>
            <div class="d-flex align-items-center pr-5">
                <label for="clvCP" class="m-2 fs-6">Código Postal:</label>
                <input class="form-control cp w-auto" id="clvCP" placeholder="Ingrese un Código Postal"
                    style="color:#5E5D5D">
            </div>
            <button type="button" id="btnBuscar" style="padding: 0.5%;border-radius: 5px;width: 7%;">Buscar</button>
        </div>
    </div>

    <div class="container-table100">
        <div class="wrap-table100">
            <table id="catalogoMunicipios" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID Estado</th>
                        <th>ID Municipio</th>
                        <th>Municipio</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Los datos se cargarán dinámicamente aquí -->
                </tbody>
            </table>
        </div>
    </div>
</section>